
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"><a href="/" class="navbar-brand">National Parks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> 
                <li class="nav-item">
                    <a class="nav-link" href="/parks">Explore Parks</a>            
            <li class="nav-item">
              <a class="nav-link" href="/boundaries">Park Boundaries</a>
            </li> 
            <li class="nav-item">
              <!-- <a class="nav-link" href="/articles">News Releases</a>
            </li>  -->
            <li class="nav-item">
                <a class="nav-link" href="/visits">Park Visits</a>
              </li> 
          </div> 
        </div> 
    </nav> 
